<!doctype html>
<title>Photos</title>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>

<div class=page>
  <h1>Photos: /{{ path }}</h1>
  <div class=metanav>
  </div>
  {% block body %}{% endblock %}
</div>

