<!doctype html>
<title>Photos</title>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
<body>
  <div class=page>
    <h2>Photos: /{{ path }}</h2>
    {% if up %}
      <a href='{{ up }}'>../</a>
    {% endif %}

    {% for entry in dir_entries %}
      {% if path %}
        <a href='/{{ path }}/{{ entry }}'>{{ entry }}</a>
      {% else %}
        <a href='{{ entry }}'>{{ entry }}</a>
      {% endif %}

    {% endfor %}
    <div class=pics id=pics>
      {% for entry in image_entries %}
      <a class=pic data-fancybox="gallery" href='/static/images/{{ path }}/{{ entry [0] }}'>
      <div class=img-wrapper style="background-image: url('{{base}}static/images/{{ path }}/.thumbnail/{{ entry [1] }}')";></div></a>
      {% else %}
      <em>No image files</em>
      {% endfor %}
    </div>
  </div>
</body>